

body {
    font-family: IBM Plex Sans, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #101010;
    color: white;
}

#home{
    background-image: url(background_title.png);
    color: white;
    background-position: -1px -99px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 30vh;
    text-align: center;
    font-size: 30px;
    padding: 20px;

}
.container {
    display: table;

}

h1{
    margin-bottom: 0;
}

.textbox {
    width: 600px;
    float: left;
    padding: 0px 20px 20px 20px;

}

#delinat{
    background: white;
    height: 300px;
    border-radius: 50px;
}

.box {
    position: absolute;
    width: 485px;
    float: right;
    padding: 20px;
    left: 35%;
    z-index: -10;
}


a{
color: white;
margin-left: 15px;
}

p{
width: 50%
}

#portrait{
width: 400px;
float: right
}


header {
    background-color: #323232;
    color: #fff;
    padding: 20px;
    /*float:right;*/
    font-size: 20px;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0px 100px 0px 100px;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: black;
}

section {
    padding: 0px 100px 100px 100px;
    border-bottom: white 1px solid;
    font-size: 20px;
}

footer {
    background-color: #323232;
    color: #fff;
    padding: 10px;
    text-align: right;
}

.bio-content{
    width: 50%;
    padding: 10px;
    float: right;
}

.content-left{

    width: 50%;
    padding: 10px;
    float: left;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-item {
    text-align: left;
}

.grid-item p {
    text-align: left;
}

.grid-item img {
    max-width: 50%;
    height: auto;
}

.icon{
    width: 100px;
}


